{% extends 'base.html' %}

{% block content %}
<body>
    {% for blog in blogs.all %}
        <br>
        <div class="container">
            <div class="card" style="width: 40rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{ blog.title }}</li>
                  <li class="list-group-item">Date: {{ blog.pub_date }}</li>
                  <li class="list-group-item">Preview: {{ blog.summary }}<a href="{% url 'detail' blog.id %}">...more</a></li>
                </ul>
            </div>
        </div>
       
        <br>
    {% endfor %}
</body>

{% endblock %}